body{
  background-color: #F2F2F2;
  background-image: url(chelou.jpg);
}

h1{
font-size: 41px;
margin-bottom: 7px;
letter-spacing: 2px;
}

h2{
font-size: 25px;
margin-top: 1px;
}

p{
  font-size: 16px;
  font-style: italic;
  margin-bottom: 35px;
}

.bloc1{
  height: 440px;
  width: 1000px;
  border-radius: 3px;
  background-color: white;
  margin: 30px auto;
  padding: 30px 5px;
  text-align: center;
  color: black;
  font-family: roboto;
  box-shadow: 10px 10px 20px #BFBFBF;
}

.bloc2{
  height: 175px;
  width: 1000px;
  border-radius: 3px;
  background-color: white;
  margin: 30px auto;
  padding: 30px 5px;
  text-align: center;
  color: black;
  font-family: roboto;
  box-shadow: 10px 10px 20px #BFBFBF;
}

.bloc3{
  height: 440px;
  width: 1000px;
  border-radius: 3px;
  background-color: white;
  margin: 30px auto;
  padding:  20px 5px;
  color: black;
  font-family: roboto;
   box-shadow: 10px 10px 20px #BFBFBF;
}

.bloc4{
  height: 200px;
  width: 1000px;
  border-radius: 3px;
  background-color: white;
  margin: 30px auto;
  padding: 30px 5px;
  text-align: center;
  color: black;
  font-family: roboto;
 box-shadow: 10px 10px 20px #BFBFBF;
}


#pp1{
  width:190px;
  height: 190px;
  border-radius: 50%;
  background-image: url("IMG_2335.JPG");
  background-size: cover;
  margin: auto;
  background-position: -5px -10px;
}

#bouton{
  border-radius: 5px;
  color: white;
  background: black;
  padding: 9px 13px;
  text-decoration: none;
}

#bouton:hover {
color: red;
background-color: black;
}


#liste {
  list-style: none;
}


.socials {
	width:150px;
  height: 150px;
  background-color: white;
  padding: 10px;
  font-size: 150px;
  color:black;
  text-align: center;

}
.socials:hover{
  color: rgba ( 0, 0, 0, 0.5 );
}
 













 


